* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{

}
#header{
    height: 46px;
    background-color: black;
}

#nav > li{
    display: inline-block;

}

#nav li{
    position: relative;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li:hover .subnav{
    display: block;
}


#nav li a{
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
}

#nav > li:hover > a{
    background-color: white;
    color: black;
    background-size: 46px;
}


#nav .subnav{
    display: none;
    background-color: black;
    position: absolute;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav  .subnav  a{
    color: black;
    background-color: white;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav  li:hover a{
    background-color: gray;
   
}


#slider{

}
#content{

}
#footer{

}


html {
    font-family: Arial, Helvetica, sans-serif;
}