* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{

}


#header{
    background-color: black;
    height: 46px;
}
#nav{
}

#nav > li {
    display: inline-block;
}
#nav li{
        position: relative;

}

#nav li a{
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: inline-block;
}

#nav>li:hover>a{
    color: black;
    background-color: #fff;
}
#nav .subnav{
    display: none;
    position: absolute;
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    background-color: white;
    color: black;
    display: block;
    padding: 0 16px;
}

#nav .subnav li:hover a{
    background-color: gray;
}


#slider{
 
}

#content{

}

#html{
    font-family: Arial, Helvetica, sans-serif;
}